@import "assets/font/inter.css";

:root {
  --background-color: #3a3a3a;
  
  --shadow: 0 0 1rem rgba(0,0,0,0.2);
}

body {
  font-family: "Inter", system-ui;
  background-color: var(--background-color);
  margin: 0;
}

h1 {
  margin: 0;
}